// Media Queries.
$mobile: 'screen and (max-width: 767px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 1023px)';
$desktop: 'screen and (min-width: 1024px)'; // Colors.
$primary-color: #43bdec;
$secondary-color: #e4e4e4;
$tertiary-color: #2f2e2e; // Fonts.
$primary-font: 'Verdana';
.clearfix {
    display: table;
    clear: both;
    content: '';
}
body,
html {
    height: 100%;
}
body {
    .container{
        @media #{$desktop} {
            max-width: 1040px;
            margin: 30px auto 0;
        }
    }
    .footer-container{
        margin: 0 auto;
        @media #{$desktop} {
            max-width: 1040px;
        }
    }
    &.wishlist-open{
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}

#wrapper {
    position: relative;
    min-height: calc(100% - 272px);
    @media #{$mobile} {
        min-height: calc(100% - 234px);
    }
}
.hero {
    width: 100%;
    background-color: $tertiary-color;
    h1 {
        text-align: center;
        color: $primary-color;
        font-size: 80px;
        margin: 15px 0 0;
        padding: 7px 0;
        font-family: 'Pattaya';
        letter-spacing: 1px;
        margin-top: 0;
        border-bottom: 2px solid $primary-color;
        cursor: pointer;
        @media #{$mobile} {
            font-size: 50px;
        }
        @media #{$tablet} {
            font-size: 65px;
        }
    }
    nav {
        background-color: $secondary-color;
        width: 100%;
        border-bottom: 2px solid lightgrey;
        text-align: center;
        i {
            font-size: 20px;
            position: relative;
            top: 2.5px;
            color: $primary-color;
        }
        p {
            font-family: $primary-font;
            font-size: 12px;
            text-transform: uppercase;
            padding: 8px;
            display: inline-block;
            height: 100%;
            margin: auto;
            margin-top: -2px;
            &.fb{
                height: 37px;
                padding: 10.5px 0px 8px 0px;
                text-transform: none;
                font-size: 14px;
                @media #{$mobile}{
                    font-size: 13px;
                    padding: 8px 0 41px 0px;
                }
                a{
                    text-decoration: none;
                    a{
                        color: $primary-color;
                    }
                    span{
                        color: $primary-color;
                    }
                }
            }
            a {
                letter-spacing: 0.5px;
                font-weight: 600;
                color: $tertiary-color;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
.loupe {
    border: 2px solid $tertiary-color;
    background-color: white;
}
.form-wrapper {
    padding: 0;
    background-color: white;
}

.search-helper{
    padding: 0px 10px;
    background-color: white;
}

.search-helper{
    p{
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
        color: $tertiary-color;
    }
}

form {
    width: auto;
    margin: 0 auto;
    padding-top: 15px;
    @media #{$mobile}{
        padding: 10px;
    }
    input {
        outline: none;
        width: 300px;
        border: none;
        font-size: 32px;
        background-color: white;
        border-bottom: 2px solid $primary-color;
        height: 60px;
        font-family: $primary-font;
        padding-left: 10px;
        color: $tertiary-color;
        @media #{$mobile} {
            width: 225px;
        }
    }
    button {
        height: 50px;
        outline: none;
        background-color: white;
        border: none;
        border-bottom: 2px solid $primary-color;
        padding: 0 15px;
        i {
            font-size: 30px !important;
            position: relative;
            top: -6px;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
.container {
    padding-bottom: 80px;
    margin-top: 30px;
    @media #{$mobile} {
        margin-top: 0;
        padding: 0px;
    }
    #loader {
        display: none;
        text-align: center;
        margin-top: 150px;
        @media #{$mobile} {
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 100px;
        }
        img {
            width: 120px;
        }
    }
    .no-products {
        display: none;
        text-align: center;
        p{
            font-size: 24px;
        }
        i{
            margin-top: 60px;
            font-size: 120px;
            color: $primary-color;
        }

    }
    .products {
        text-align: center;
        font-family: $primary-font;
        .row {
            min-height: 400px;
            @media #{$mobile}{
                margin: 0px !important;
                min-height: auto;
            }
        }
        .col-md-4 {
            padding: 20px;
            @media #{$mobile}{
                padding: 25px 10px;
            }
        }
        .image-wrapper {
            cursor: pointer;
            height: 200px;
            text-align: center;
            display: table;
            width: 100%;
            @media #{$mobile}{
                height: auto;
            }
            .vertically-align {
                display: table-cell;
                vertical-align: middle;
            }
            img {
                max-height: 180px;
                max-width: 300px;
                margin: 0 auto;
                @media #{$mobile} {
                    max-width: 200px;
                }
            }
        }
        .product-name {
            margin-top: 10px;
            padding-top: 10px;
        }
        p{
            @media #{$mobile}{
                margin-bottom: 0px;
            }
        }
        .buy-link{
            color: $primary-color;
        }
        .wishlist-checkmark {
            i{
                display: none;
                color: #2de32d;
                font-size: 20px;
                position: absolute;
                left: 85px;
                bottom: 24px;
            }
        }
        .wishlist{
            position: relative;
            top: 5px;
            padding-top: 5px;
            font-weight: 600;
            color: $tertiary-color;
        }
    }
}
.pagination-wrapper {
    text-align: center;
    @media #{$mobile} {
        position: relative;
        top: 20px;
    }
    .easyPaginateNav {
        display: inline-block;
        width: auto !important;
        a {
            font-family: $primary-font;
            padding: 9px 13px;
            margin: 5px;
            color: $tertiary-color;
            font-weight: 600;
            @media #{$mobile} {
                margin: 1px;
            }
            &:hover {
                text-decoration: none;
                color: $primary-color;
            }
            &.current {
                border-radius: 8px;
                color: $secondary-color;
                background-color: $primary-color;
                &:hover {
                    color: $secondary-color;
                }
            }
            &.first,
            &.last {
                display: none;
            }
        }
    }
}
.wishlist-wrapper{
    display: none;
    position: absolute;
    top: -246px;
    right: 0;
    height: 100vh;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    @media #{$mobile}{
        top: -200px;
    }
    .wishlist-modal{
        position: absolute;;
        width: 500px;
        background-color: white;
        border: 1px solid black;
        padding: 20px 30px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @media #{$mobile}{
            width: 100%;
            padding: 20px 10px;
        }
        .close-modal{
            float: right;
            cursor: pointer;
            z-index: 10;
            position: relative;
            font-family: $primary-font;
            font-weight: 600;
            position: absolute;
            right: 12px;
            top: 12px;
        }
        .no-items {
            left: 0;
            right: 0;
            text-align: center;
            position: relative;
            margin-bottom: 0px;
        }
        .products-wrapper{
            max-height: 450px;
            overflow-y: scroll;
            .col-md-12{
                @media #{$mobile}{
                    text-align: center;
                    padding: 0px;
                }
            }
            > div{
                margin-bottom: 20px;
            }
            .col-md-4{
                padding-left: 0px;
                @media #{$mobile}{
                    padding-left: 15px;
                }
            }
            .col-md-8{
                padding-top: 5px;
                padding-right: 0px;
                p{
                    margin-bottom: 0px;
                }
                @media #{$mobile}{
                    padding-right: 15px;
                }
            }
            .remove-wishlist-item{
                cursor: pointer;
                color: $tertiary-color;
                font-weight: 500;
                margin-bottom: 0px;
            }
        }
    }
}
.sticky-div {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @media #{$mobile}{
        height: 0px;
    }
    footer {
        background-color: $secondary-color;
        padding: 20px 0;
        border-top: 2px solid lightgrey;
        margin-top: 40px;
        p {
            font-family: $primary-font;
            color: $tertiary-color;
            text-align: center;
            margin-bottom: 0;
            font-size: 12px;
            padding: 5px 0px;
            @media #{$mobile} {
                font-size: 11px;
            }
        }
    }
}
.error-modal{
    display: none;
    position: absolute;;
    width: 500px;
    background-color: white;
    border: 1px solid black;
    padding: 20px 30px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
